<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <title><%= categoryName %> Games</title>
  </head>
  <body>
    <div id = "home-container">
      <div id = "form-title-container">
        <h1><%= categoryName %> Games</h1>
        <%- include('forms/newGameForm.ejs') %>
      </div>
      <div id = "category-container"> 
        <% rows.forEach((row) => { %>
          <%- include('games/game.ejs', {row: row}); %>
        <% }); %>
      </div>
    </div>
  </body>
</html>
