h1 {
    color: white;
}

p {
    color: white;
}

body {
    margin: 0;
}

/* ID selectors */
#home-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
}

#title-and-form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
}

#title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#category-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}