<form action="/genre/<%= categoryName %>/add-game" method="POST">
    <label for="name">Add Game</label>
    <input type="text" id="name" name="name" required>
    <input type="number" id="year" name="year" required>
    <button type="submit">Add Game</button>
</form>

